@import '/src/styles/colors.scss';

.searchOptionsBar {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // align-items: center;

  gap: 1rem;
  margin: 1rem 0;
  
  height: 3rem;
}