@import '/src/styles/colors.scss';
@import '/src/styles/layout.scss';

.searchOptionsBar {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

@media only screen and (min-width: $tablet-mid) {
  .searchOptionsBar {
    margin-bottom: 0;
  }
}