$mainTextColorWhite: rgba(255, 255, 255);
$backgroundColorWhite: rgba(255, 255, 255);
$backgroundColorBlack: #242424;
$backgroundColorRed: rgb(225, 71, 71);
$backgroundColorLightRed: rgb(225, 71, 71);
$iconColorGrey: #959595;