$mainTextColorWhite: rgba(255, 255, 255);
$backgroundColorWhite: rgba(255, 255, 255);
$backgroundColorSmokeWhite: rgb(238, 238, 238);
$backgroundColorBlack: #242424;
$backgroundColorRed: rgb(225, 71, 71);
$backgroundColorOrange: rgb(255, 65, 47);
$iconColorGrey: #959595;