@import '/src/styles/colors.scss';

.toggleListView {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;

  gap: 1rem;
  width: 10rem;

  background-color: gray;
  border: 0;
  border-radius: 4px;
}

.icon {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
}

.active {
  background-color: red;
}