@import '/src/styles/colors.scss';

.toggleListView {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $iconColorGrey;
  border: none;
  border-radius: 2rem;
  
  cursor: pointer;
  transition: 0.3s;
}

.icon {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.active {
  border-radius: 2rem;

  background-color: $backgroundColorOrange;
}