@import '/src/styles/colors.scss';

.toggleListView {
  // align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;

  // justify-content: flex-end;

  // // gap: 1rem;
  // width: 10rem;

  background-color: $iconColorGrey;
  border: none;
  border-radius: 1rem;
  
  transition: 0.3s;
}

.icon {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.active {
  border-radius: 1rem;
  // filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(350%) hue-rotate(199deg) brightness(84%) contrast(88%);
  background-color: $backgroundColorLightRed;

}