@import '/src/styles/colors.scss';

.resultsList {
  display: grid;

  padding: 1rem 0;
}

.resultsListHeader {
  font-weight: 600;
}

.resultItem {
  display: grid;
  grid-template-columns: 10rem 10rem;

  gap: 1rem;

  font-size: 0.8rem;
  border-bottom: 1px solid $mainTextColorWhite;
}

.map {
  border: 0;
}